.e609_17029 { 
	width:447px;
	height:1133px;
	position:absolute;
}.ei609_17029_414_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:447px;
	height:1133px;
	position:absolute;
	left:0px;
	top:0px;
}.ei609_17029_414_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:396px;
	height:532px;
	position:absolute;
	left:20px;
	top:312px;
}.ei609_17029_414_21_408_13 { 
	color:rgba(0, 0, 0, 1);
	width:396px;
	height:73px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:EB Garamond;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.ei609_17029_414_25 { 
	width:407px;
	height:257.74407958984375px;
	position:absolute;
	left:20px;
	top:32.21800994873047px;
}.ei609_17029_414_25_408_11 { 
	width:407px;
	height:257.74407958984375px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.ei609_17029_415_110 { 
	background-color:rgba(255, 255, 255, 1);
	width:404px;
	height:64px;
	position:absolute;
	left:23px;
	top:240px;
}.ei609_17029_415_110_415_86 { 
	color:rgba(0, 0, 0, 1);
	width:404px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
	line-height:px;
}